@import "~bootstrap/dist/css/bootstrap.css";

.container {
  padding: 15px 0;
}

.user-photo {
  display: block;
  height: 100px;
  width: 100px;
}

.badge {
  position: relative;
  font-size: 14px;
  z-index: 2;
}

.card {
  img {
    display: block;
    max-height: 400px;
  }
}

.btn {
  margin: 10px 0;
}

.list-group-item {
  position: relative;
}

.link-about {
  position: absolute;
  height: 100%;
  width: 100%;
}